@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
}
h3 {
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid #bbb;
}

.container {
  margin: 30px auto;
  width: 350px;
}
